<!-- ******ABOUT****** -->
<section id="about" class="about section">
    <div class="container">
        <div class="row" style="text-align: center">
            <p style="font-size: 36px">
                <strong>kintone</strong> | Là gì?</p>
            <p style="width: 70%; margin: 0 auto; font-style: italic;">Một dịch vụ điện toán đám mây giúp nhanh chóng tạo ra các phần mềm phục vụ cho việc quản lý kinh
                    doanh. Dễ dàng tạo ra các ứng dụng để quản lý dữ liệu, báo cáo &amp; đồ thị. Ngoài ra, việc liên kết
                    với các hệ thống khác thông qua API giúp dễ dàng trong việc mở rộng &amp; tích hợp linh hoạt hơn.</p>
        </div>
        <br><br>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Được thiết kế cho Nhà quản lý</h3>
                    <p>Là công cụ được tin dùng bởi hàng triệu người trên khắp thế giới &amp; 984 người ở Việt Nam. Bởi vì nó
                        điều hướng dữ liệu một cách nhanh chóng, dễ dàng. </p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Tiết kiệm chi phí</h3>
                    <p>Xây dựng ứng dụng quản lý nhanh chóng; chỉ tốn 1/3 thời gian phát triển, không yêu cầu phần cứng, không
                        yêu cầu hiểu biết nhiều về lập trình.</p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-crosshairs"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Mở rộng kinh doanh</h3>
                    <p>Cập nhật báo cáo kinh doanh tức thời ở bất cứ nơi đâu. Dễ dàng thay đổi hoặc tạo thêm báo cáo mới để
                        bắt kịp xu hướng và đối ứng thị trường.</p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
            <div class="clearfix visible-md"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-tablet"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Tích hợp nhiều nền tảng</h3>
                    <p>Chúng tôi làm tốt nhất những phần của mình và tích hợp với các nền tảng khác để mang lại giải pháp có
                        giá trị nhất đến với người dùng.</p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Dễ dàng tùy chỉnh</h3>
                    <p>Giải pháp của chúng tôi mang lại giá trị là sự dễ dàng trong thay đổi, tùy chỉnh. Bởi vì nhu cầu thì
                        luôn thay đổi &amp; bạn không thể đoán trước được.</p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Startup, SME &amp; Doanh nghiệp</h3>
                    <p>kintone phù hợp với tất cả các quy mô/loại hình tổ chức. Vì vậy bạn sẽ không cần lo lắng hoặc tìm phương
                        án thay thể cho tổ chức của bạn trong tương lai.</p>
                </div>
                <!--//content-->
            </div>
            <!--//item-->
        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section>
<!--//about-->