<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container" >
        <div class="row">
            <div class="col-sm-5">
                <h3 style="border-left: 3px solid red; padding-left: 20px; color:aliceblue">
                    <p>MỘT GIẢI PHÁP</p>
                    <strong>CHO TẤT CẢ VẤN ĐỀ CỦA BẠN</strong>
                </h3>
                <div style="padding: 5px 25px 25px 0; text-align: justify">kintone không thể làm được tất cả; Nhưng nó được tin dùng bởi hàng triệu nhà quản lý doanh nghiệp trên toàn thế giới. <br/><br/> Vì vậy, không khó để bắt đầu với các giải pháp mẫu được chia sẻ bởi các chuyên gia hàng đầu đã thành công trong việc áp dụng kintone vào vận hành doanh nghiệp.
                </div>
            </div>
            <div class="col-sm-7">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div>
    <!--//container-->
</section>
<!--//features-->