<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h5 class="title">kintone
            <span class="highlight">IVS</span>
        </h5>
        <p class="intro">Xây dựng nhanh các giải pháp cho doanh nghiệp.</p>
        <p class="intro-l2">Ứng dụng quản lý, Quy trình làm việc &amp; Cở sở dữ liệu.</p>
        <div class="btns">
            <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/" target="_blank">Xem Trước</a>
            <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/"
                target="_blank">Dùng thử miễn phí</a>
        </div>
        <ul class="meta list-inline">
            <li>
                <a href="https://github.com/twbs/bootstrap" target="_blank">
                    <i class="fa fa-meetup" aria-hidden="true"></i> Sự kiện</a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fa fa-linode" aria-hidden="true"></i> Ứng dung mẫu</a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fa fa-code" aria-hidden="true"></i> Cộng đồng Nhà phát triển</a>
            </li>
        </ul>
        <!--//meta-->
    </div>
    <!--//container-->
    <div class="social-media">
        <div class="social-media-inner container">
            <ul class="list-inline">
                <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                <li class="github-star">
                    <iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=watch&count=true" allowtransparency="true"
                        frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </li>

                <li class="facebook-like">
                    <div class="fb-like" data-href="http://themes.3rdwavemedia.com/" data-layout="button_count" data-action="like" data-show-faces="false"
                        data-share="true"></div>
                </li>
                <!--//facebook-like-->
                <li class="youtube-subscribe">

                </li>
            </ul>
        </div>
    </div>
</section>
<!--//promo-->