<!-- ******FOOTER****** -->
<footer class="footer">
    <br/><br/>
    <div class="container" style="padding: 0;">
        <div class="col-sm-4">
            <span class="bottom-list-title">Tính năng</span>
            <br/>
            <br/>
            <ul class="bottom-list">
                <li>
                    <a href="/feature/fast-app-builder.html">Phát triển nhanh ứng dụng quản lý kinh doanh</a>
                </li>
                <li>
                    <a href="/feature/workflow-management.html">Quản lý Quy trình làm việc và phê duyệt</a>
                </li>
                <li>
                    <a href="/feature/database-administrator.html">Thu thập, quản lý dữ liệu dễ dàng</a>
                </li>
                <li></li>
                <li>
                    <a href="/feature/mobile-connecting.html">Kết nối thiết bị di động</a>
                </li>
                <li>
                    <a href="/feature/platform-integrated.html">Nền tảng Tích hợp cho Nhà phát triển</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <span class="bottom-list-title">kintone IVS</span>
            <br/>
            <br/>
            <ul class="bottom-list">
                <li>
                    <a href="/about/our-app-store.html">Kho ứng dụng</a>
                </li>
                <li>
                    <a href="/customer/faq.html">Câu hỏi thường gặp</a>
                </li>
                <li>
                    <a href="/about/our-developer-community.html">Cộng đồng Nhà phát triển</a>
                </li>
                <li></li>
                <li>
                    <a href="/about/our-story.html">Về chúng tôi</a>
                </li>
                <li>
                    <a href="/about/our-event.html">Sự kiện</a>
                </li>
                <li>
                    <a href="/about/our-partner.html">Đối tác kinh doanh</a>
                </li>
                <li>
                    <a href="/about/our-career.html">Tuyển dụng</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <span class="bottom-list-title">Liên hệ</span>
            <br/>
            <br/>
            <ul class="bottom-list">
                <li>
                    <a href="{{ site.url}}/about/our-30-days-free-trial.html" class="btn btn-primary btn-sm" style="background-color: transparent; text-transform: uppercase">
                        <i class="fa fa-free-code-camp" aria-hidden="true"></i> Dùng thử 30 ngày miễn phí</a>
                </li>
                <li>
                    <a href="{{ site.url}}/about/schedule-a-live-demo.html" class="btn btn-primary btn-sm" style="background-color: transparent; text-transform: uppercase">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Đăng ký Demo trực tiếp</a>
                </li>
                <li></li>
                <li></li>
                <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; 3rd floor, VINA GIAY PLAZA, 180-182 Ly Chinh Thang, Dist. 3, HCMC
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; (+84) 28-3931 5272 ext 801
                </li>
                <li>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; kintone-sales@indivisys.jp
                </li>
            </ul>
        </div>
    </div>
    <hr style="border-color: #053442;">
    <!--//container-->
    <div class="container">
        <div style="font-size: 0.8em; margin-bottom: 12px;">
            <a href="">Chính sách bảo mật</a> |
            <a href="">Điều khoản sử dụng</a> |
            <a href="">Website IVS Co., Ltd.</a>
        </div>
        <small class="copyright">© 2017 IVS Co., Ltd - All rights reserved.</small>
    </div>
    <!--//container-->
</footer>
<!--//footer-->