<!-- ******FOOTER****** -->
<footer class="footer">
    <br/>
    <div class="container" style="padding: 0;">
        <div class="col-sm-4">
            <span class="bottom-list-title">Giải pháp</span>
            <br/>
            <br/>
            <ul class="bottom-list">
                <li>
                    <a>Phát triển nhanh ứng dụng quản lý kinh doanh</a>
                </li>
                <li>
                    <a>Quản lý Quy trình làm việc và phê duyệt</a>
                </li>
                <li>
                    <a>Thu thập, quản lý dữ liệu dễ dàng</a>
                </li>
                <li>
                    <a>Kết nối thiết bị di động</a>
                </li>
                <li>
                    <a>Nền tảng Tích hợp cho Nhà phát triển</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <span class="bottom-list-title">kintone IVS</span>
            <br/>
            <br/>
            <ul class="bottom-list">

                <li>
                    <a>Về chúng tôi</a>
                </li>
                <li>
                    <a>Sự kiện</a>
                </li>
                <li>
                    <a>Ứng dụng mẫu</a>
                </li>
                <li>
                    <a>Cộng đồng Nhà phát triển</a>
                </li>
                <li>
                    <a>Đối tác kinh doanh</a>
                </li>
                <li>
                    <a>Tuyển dụng</a>
                </li>
                <li>
                    <a>Bảng giá</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <span class="bottom-list-title">Liên hệ</span>
            <br/>
            <br/> +84-28-39315272 or
            <a href="#">ntdat@indivisys.jp</a>

            <br/>
            <br/>

            <a href="{{ site.baseUrl}}/schedule-a-live-demo.html" class="btn btn-primary btn-sm" style="background-color: transparent; text-transform: uppercase">Hẹn lịch trình demo trực tiếp</a>

            <br/>
            <br/> 3rd floor, VINA GIAY PLAZA, 180-182 Ly Chinh Thang, Dist. 3, HCMC
        </div>

    </div>
    <br/>
    <br/>
    <!--//container-->
    <div class="container">
        <div style="font-size: 0.7em;">
            <a href="">Chính sách bảo mật</a> |
            <a href="">Điều khoản sử dụng</a> |
            <a href="">Website IVS Co., Ltd.</a>
        </div>
        <br/>
        <small class="copyright">© 2017 IVS Co., Ltd - All rights reserved.</small>
    </div>
    <!--//container-->
</footer>
<!--//footer-->