    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo pull-left">
                <a href="/">
					<img src="/raws/images/img_logo.png" alt="{{ site.title }}"/>
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        {% for navigator in site.data.system-navigators %}
                        <li class="nav-item"> 
                            {% if navigator.archor %} <a class="scrollto" href="#{{ navigator.url }}"> {% else %}<a href="{{ navigator.url }}">{% endif %} {{ navigator.title }}</a></li>
                        {% endfor %}
                        <li>
                            <a href="login.html" class="btn btn-primary btn-sm" style="text-align: left; color: #0a7396; background-color: transparent; margin-top: 5px; margin-right: 25px; padding: 5px 15px!important;" href=""><i class="fa fa-sign-in" aria-hidden="true"></i> kintone</a>
                        </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
