<!-- Javascript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js" integrity="sha256-vT9X0tmmfKfNTg0U/Iv0rM9mhu8LA0MaDFrzIflHN9A=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/prism.min.js"></script>
<script type="text/javascript" src="/raws/js/main.js"></script>
<script>
    (function ($) {
        "use strict";
        //escape html
        function escapeHtml(htmlstr) {
            return htmlstr
                .replace(/&/g, '&')
                .replace(/</g, '<')
                .replace(/>/g, '>')
                .replace(/"/g, '"')
                .replace(/'/g, "'");
        }

        var thisbutton = document.getElementById("signinbutton");
        thisbutton.onclick = function () { //edit here
            swal({
                title: "Log in to kintone",
                type: "input",
                text: "Enter your subdomain name<br><input type='text' id='thetext'>.kintone.com",
                html: true,
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "type here",
                confirmButtonText: "Sign-in",
                cancelButtonText: "Cancel"
            },
                function () {
                    var domain_name = escapeHtml($("#thetext").val());
                    if (domain_name === false) {
                        return false;
                    } else if (domain_name === "") {
                        swal.showInputError("Please input your domain name");
                        return false;
                    }
                    var URL = "https://" + domain_name + ".kintone.com";
                    window.open(URL, "_blank");
                });
        };
    })(jQuery);
</script>
<script>
    $("table").addClass("table table-border,");
</script>